$dark-green: #00796B;
$green: #009688;
$light-green: #B2DFDB;
$orange: #FFC107;
$dark-text: #212121;
$grey-text: #727272;
$divider: #b6b6b6;

$light-text: #fff;
$light-color:#e5e5dc;
$dark-color: #b1b0a7;
$default-color:#f3f2eb;

$header-height: 48px;
$footer-height: 24px;

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-info:            #5bc0de !default;


$screen-sm: 768px !default;
$screen-xs: 480px !default;